.header {
    display: flex;
    justify-content: center;
    height: 450px;
    width: 100%;
    position: relative;
}

.background {
    position: absolute;
    top: calc(0px - 2em);
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: calc(100% + 2em);
    z-index: -100;
    background-image: url(../../assets/breadcrumb_bg02.jpg);
    background-position: center;
    background-size: cover;
}

.info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100% - 100px);
}

.title h2 {
    font-size: 3.4rem;
    letter-spacing: 2px;
    font-weight: 800;
    margin-block-end: 0.2em;
}

.logo {
    width: 30%;
    cursor: pointer;
}

.breadcrumbs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 700;
}

.breadcrumbs p:first-child {
    color: #45F882;
    cursor: pointer;
}

.breadcrumbs p:first-child:hover {
    color: #ffbe18;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #45F882;
}

.circle:hover {
    background-color: #ffbe18;
}

@media (max-width: 767px) {
    .header {
        height: 350px;
    }

    .logo {
        width: 40%;
    }

    .background {
        top: calc(0px - 3em);
        height: calc(100% + 3em);
    }

    .title > h2 {
        font-size: 2.5rem;
    }

    .breadcrumbs {
        font-size: 14px;
    }
}