.detailsOrder,
.containerProps {
    display: flex;
}

.detailsOrder {
    gap: 1.5em;
    flex-direction: column;
    padding: 1.7rem 2rem;
    border-radius: 3px;
    border: 1px solid #262f39;
}

.containerProps {
    flex-direction: row;
}

.props {
    width: 33.3%;
    text-align: left;
}

.containerProps p {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.75;
    color: #adb0bc;
}

.line {
    display: block;
    width: 100%;
    background: radial-gradient(circle, rgb(245, 246, 249) 0%, rgba(255, 255, 255, 0) 100%);
    height: 1px;
    opacity: 0.15;
    margin: 10px 0 -5px;
}