.containerDetails,
.containerPay,
.containerInput,
.containerPrices,
.seccionReview,
.views {
    display: flex;
}

.containerDetails,
.containerPrices,
.seccionReview,
.views {
    gap: 1em;
}

.containerDetails {
    flex-direction: column;
    text-align: left;
}

.containerDetails h2 {
    font-size: 2.5em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-right: 50px;
    letter-spacing: 1.5px;
}

.containerPay,
.containerInput,
.containerPrices,
.seccionReview {
    flex-direction: row;
}

.containerPay {
    gap: 0.5em;
}

.containerInput,
.containerPrices {
    flex-wrap: nowrap;
}

.containerInput,
.containerPrices,
.views {
    align-items: center;
}

.containerInput,
.containerPay input,
.poppins,
.containerPrices span:nth-child(2),
.seccionReview p {
    color: #adb0bc;
}

.containerInput {
    position: relative;
}

.containerInput,
.containerPay input,
.buttonPay {
    font-weight: 800;
}

.containerInput button,
.buttonPay {
    border: none;
}

.containerInput button {
    position: absolute;
    background-color: transparent;
    font-size: 12px;
    transition: 0.5s color;
}

.containerInput button:hover,
.eye {
    color: #ffbe18;
}

.containerInput button:hover,
.buttonPay:hover {
    cursor: pointer;
}

.containerInput button:first-child {
    left: 0;
}

.containerInput button:nth-child(2) {
    right: 0;
}

.containerPay input {
    border-radius: 3px;
    background: #1b242e;
    border: 0.25px solid #282f36;
    width: 90px;
    height: 50px;
    font-size: 15px;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

.containerPay input::-webkit-inner-spin-button, 
.containerPay input::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0;
}

.containerPrices span:first-child {
    font-size: 20px;
    font-weight: 600;
}

.containerPrices span:nth-child(2) {
    text-decoration: line-through;
}

.containerPrices span:nth-child(2),
.buttonPay,
.seccionReview {
    font-size: 15px;
}

.seccionReview {
    font-size: 16px;
}

.buttonPay {
    font-family: 'Barlow', sans-serif;
    width: 160px;
    background-color: #45f882;
    transition: 0.5s background-color;
    color: #0f161b;
    letter-spacing: 1px;
    -webkit-clip-path: path("M8,0H152a8,8,0,0,1,8,8V33.63C160,37.36,140,53,140,53H8a8,8,0,0,1-8-8V8A8,8,0,0,1,8,0Z");
    clip-path: path("M8,0H152a8,8,0,0,1,8,8V33.63C160,37.36,140,53,140,53H8a8,8,0,0,1-8-8V8A8,8,0,0,1,8,0Z");
}

.buttonPay:hover {
    background-color: #ffbe18;
}

.buttonPay span {
    display: inline-block;
    animation: shake 0.8s ease infinite;
}

.seccionReview p {
    font-size: 13px;
}

.seccionReview p,
.poppins,
.containerPrices {
    font-family: 'Poppins', sans-serif;
}

.eye {
    font-size: 21px;
}

.poppins,
.seccionReview p {
    font-weight: 500;
}

.poppins {
    line-height: 1.75;
}

.categoryContainer {
    color: #fff;
}

@media (max-width: 767px) {
    .containerDetails {
        width: 100%;
    }

    .containerDetails h2 {
        font-size: 2em;
    }
}

@media (max-width: 1024px) {
    .containerDetails h2 {
        margin-right: 0px;
    }
}

@keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-3px);
    }
    50% {
      transform: translateX(3px);
    }
    75% {
      transform: translateX(-2px);
    }
    100% {
      transform: translateX(0);
    }
}