.line {
    display: block;
    width: 100%;
    background: radial-gradient(circle, rgb(245, 246, 249) 0%, rgba(255, 255, 255, 0) 100%);
    height: 1px;
    opacity: 0.15;
    margin: 10px 0 -5px;
}

.listMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    width: 100%;
    padding-inline-start: 0px;
}

.list {
    cursor: pointer;
}

.listActive {
    color: #45f882;
}

.list:hover {
    color: #45f882;
}

.optionContainer {
    background-color: #161E26;
    padding: 25px;
    border-radius: 5px;
    margin-top: 30px;
}

.descriptionContainer {
    font-family: 'Poppins', sans-serif;
    line-height: 1.75;
    font-size: 16px;
    color: #adb0bc;
    font-weight: 400;
    text-align: left;
    /* white-space: pre; */
}