.background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000068;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    cursor: url(/src/assets/light-close.png), pointer;
}

.container_Details_Product {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border-radius: 3px;
    margin: 5% auto;
    max-width: 96%;
    max-height: 96%;
    min-height: 371px;
    padding: 20px;
    width: 800px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 24px 48px;
    gap: 10px;
    border: 1px solid #CA1111;
    cursor: auto;
    position: relative;
}

#button_close {
    font-size: 30px;
    width: 20px;
    position: absolute;
    top: 10px;
    right: 20px;
    color: #242424;
}

#button_close:hover {
    cursor: pointer;
    color: #CA1111;
}

.container_image_details_product {
    width: 50%;
}

.image_details_product {
    width: 100%;
}