.container {
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
}

.cart {
    width: 500px;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
    position: absolute;
    top: 0;
    right: -1000px;
    padding: 2rem;
    opacity: 0;
    transition: right 0.3s ease-in, opacity 0.5s ease-in;
}

.activeCart {
    right: 0;
    opacity: 1;
}

.closeBtn {
    all: initial;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 20px;
    cursor: pointer;
    color: var(--primary-color);
    font-size: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
}

.closeBtn:hover {
    transform: scale(1.1);
}

.content {
    height: 100%;
    width: 100%;
}

.row-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: calc(100% - 300px);
}

.row-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    /* background: linear-gradient(180deg, hsla(3, 90%, 96%, 0.722), hsla(0, 100%, 94%, 0)); */
}

.btnPay {
    width: 200px;
    transition: all 0.3s ease;
}

.btnPay:hover {
    transform: translateY(-5px);
    color: var(--primary-color);
    background-color: #fff;
    border: 1px solid var(--primary-color);
}

.btnPay p {
    position: relative;
    display: inline-block;
    animation: moveText 1s linear infinite;
}

@keyframes moveText {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(8px);
    }
    50% {
      transform: translateX(0);
    }
    75% {
      transform: translateX(-8px);
    }
    100% {
      transform: translateX(0);
    }
}