.shopArea {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2rem;
}

.containerCard {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    max-width: 1000px;
    width: 100%;
    gap: 20px;
}

.containerCard > div {
    margin-bottom: 16px;
}

@media (max-width: 767px) {
    .containerCard {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 10px;
    }

    .shopArea {
        padding: 2rem 0.5rem;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .containerCard {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 10px;
    }
}