.container, .detailsContainer, .moreInfoContainer, .imgContainer {
    display: flex;
}

.container, .imgContainer {
    align-items: center;
}

.detailsContainer, .moreInfoContainer, .container {
    gap: 2em;
}

.detailsContainer, .moreInfoContainer, .imgProduct { 
    width: 100%;
}

.detailsContainer {
    flex-direction: row;
}

.moreInfoContainer, .container {
    flex-direction: column;
}

.imgContainer {
    padding: 19px;
    -webkit-clip-path: polygon(100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0 0);
    clip-path: polygon(100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0 0);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
    background: #1b242e;
    height: 100%;
}

.imgProduct {
    padding: 40px;
    background-color: #0F161C;
}

.containerProps, .imgContainer {
    width: 50%;
}

@media (max-width: 767px) {
    .detailsContainer {
        flex-direction: column;
    }

    .imgContainer, .containerProps {
        width: 100%;
    }
}