.detailsContainer {
    display: flex;
    flex-direction: row;
    padding: 4rem 2rem;
    width: 100%;
    gap: 50px;
}

.imgContainer {
    display: flex;
    align-items: center;
    width: 50%;
    position: relative;
    padding: 19px;
    -webkit-clip-path: polygon(100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0 0);
    clip-path: polygon(100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0 0);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
    background: #1b242e;
}

.imgProduct {
    width: 100%;
    padding: 40px;
    background-color: #0F161C;
}

.containerCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
    
.containerCard > div {
    flex: 0 0 25%;
    margin-bottom: 16px;
}

.containerProps {
    width: 50%;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .containerCard > div {
        flex: 0 0 33.33%;
    }

    .detailsContainer {
        padding: 2rem;
    }
}

@media (max-width: 767px) {
    .detailsContainer {
        padding: 3rem 1rem;
        flex-direction: column;
    }

    .imgContainer {
        width: 100%;
    }

    .containerProps {
        width: 100%;
    }

    .containerCard > div {
        flex: 0 0 50%;
    }
}