.containerDetails,
.containerPay,
.containerInput,
.containerPrices,
.seccionReview,
.views,
.containerInputAndButtons {
    display: flex;
}

.containerDetails,
.containerPrices,
.seccionReview,
.views {
    gap: 1em;
}

.containerDetails {
    text-align: left;
}

.containerPay,
.containerInput,
.containerPrices,
.seccionReview {
    flex-direction: row;
}

.containerPay,
.containerInputAndButtons {
    gap: 0.5em;
}

.containerInput,
.containerPrices {
    flex-wrap: nowrap;
}

.containerInput,
.containerPrices,
.views {
    align-items: center;
}

.containerInput,
.containerPay input,
.poppins,
.containerPrices span:nth-child(2),
.seccionReview p {
    color: #adb0bc;
}

.containerInput {
    position: relative;
}

.containerInput,
.containerPay input {
    font-weight: 800;
}

.containerInput button {
    color: #ffff;
    position: absolute;
    background-color: transparent;
    font-size: 12px;
    transition: 0.5s color;
}

.containerInput button:hover,
.eye {
    color: #ffbe18;
}

.containerInput button:first-child {
    left: 0;
}

.containerInput button:nth-child(2) {
    right: 0;
}

.containerPay input {
    background: #1b242e;
    border: 0.25px solid #282f36;
    width: 90px;
    height: 100%;
    font-size: 15px;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

.containerInputAndButtons,
.containerDetails {
    flex-direction: column;
}

.containerPay input::-webkit-inner-spin-button, 
.containerPay input::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0;
}

.containerPrices span:first-child {
    font-size: 20px;
    font-weight: 600;
}

.containerPrices span:nth-child(2) {
    text-decoration: line-through;
}

.containerPrices span:nth-child(2),
.seccionReview {
    font-size: 15px;
}

.seccionReview {
    font-size: 16px;
}

.buttonPay {
    width: 160px;
}

.buttonPay:hover {
    background-color: #ffbe18;
}

.buttonPay span {
    display: inline-block;
    animation: shake 0.8s ease infinite;
}

.seccionReview p {
    font-size: 13px;
}

.seccionReview p,
.poppins,
.containerPrices {
    font-family: 'Poppins', sans-serif;
}

.eye {
    font-size: 21px;
}

.poppins,
.seccionReview p {
    font-weight: 500;
}

.poppins {
    line-height: 1.75;
}

.categoryContainer {
    color: #fff;
}

@media (max-width: 767px) {
    .containerDetails {
        width: 100%;
    }
}

@keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-3px);
    }
    50% {
      transform: translateX(3px);
    }
    75% {
      transform: translateX(-2px);
    }
    100% {
      transform: translateX(0);
    }
}