#root {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin: 0 auto;
	min-height: 100vh;
}

body {
	display: flex;
	margin: 0;
	min-width: 100%;
	min-height: 100vh;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}