.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    padding: 13px;
    background-image: linear-gradient(to bottom, #1B242E, #171D23);
    clip-path: polygon(100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0 0);
}

.card:hover {
    box-shadow: 0 50px 100px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all .3s ease-in-out;
    
    .containerImg img {
        animation: reboteAnimacion 1s ease infinite;
    }
}

.containerImg {
    width: 100%;
    background-color: #0F161C;
    border-radius: 8px;
}

.containerImg img {
    width: 100%;
    padding: 30px;
}

@keyframes reboteAnimacion {
    0%, 100% {
        transform: translateY(3px);
    }
    50% {
        transform: translateY(-3px);
    }
}

.info {
    display: flex;
    flex-direction: row;
    margin: 15px 10px 15px 10px;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    text-transform: uppercase;
    gap: 10px;
}

.info h3 {
    font-size: 18px;
    color: #fff;
    text-align: left;
}

.info > div {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.info div:first-child {
    align-items: flex-start;
}

.info div:nth-child(2) {
    align-items: flex-end;
}

.containerPrice span:first-child {
    color: #45f882;
    font-weight: 700;
    font-size: 18px;
}

.containerCategory, .containerPrice span:nth-child(2) {
    color: #adb0bc;
    font-size: 14px;
}

.containerPrice span:nth-child(2) {
    text-decoration: line-through;
}

.line {
    display: block;
    width: 100%;
    background: radial-gradient(circle, rgb(245, 246, 249) 0%, rgba(255, 255, 255, 0) 100%);
    height: 1px;
    opacity: 0.15;
    margin: 10px 0 -5px;
}

@media (max-width: 767px) {
    .card {
        padding: 9px;
    }
}

@media (max-width: 1024px) {
    .info p, .line {
        display: none;
    }

    .info h3, .containerPrice span:first-child {
        font-size: 15px;
    }
}