.form,
.nameAndLastname {
    display: flex;
    gap: 1.5em;
}

.form,
.containerInput input {
    border: 1px solid #262f39;
}

.form {
    flex-direction: column;
    padding: 1.7rem 2rem;
    border-radius: 3px;
}

.containerInput {
    position: relative;
    -webkit-clip-path: polygon(100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0 0);
    clip-path: polygon(100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0 0);
    height: 59.6px;
}

.containerInput input {
    display: block;
    width: 100%;
    background: transparent;
    padding: 15px 25px !important;
    font-family: 'Poppins', sans-serif;
    font-size: inherit;
    line-height: 1.75;
    font-weight: 400;
    outline: 0;
}

.containerInput::after {
    content: "";
    position: absolute;
    background-color: #262f39;
    width: 60px;
    height: 1px;
    right: -21px;
    bottom: 12px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.containerInput input::placeholder {
    color: #adb0bc;
}

.nameAndLastname {
    flex-direction: row;
}

.nameAndLastname > div {
    width: 50%;
}

@media (max-width: 767px) {
    .nameAndLastname {
        flex-direction: column;
    }

    .nameAndLastname > div {
        width: 100%;
    }
}