#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
  margin: 0 auto;
  text-align: center;
  max-width: 1000px;
  width: 100%;
  padding: 2em;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #0F161B;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #0F161B;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #45F882;
}

*::-moz-selection {
  background: #45F882;
  color: #0F161B;
  text-shadow: none;
}

@media (max-width: 767px) {
  #root {
    padding: 3rem 1rem;
  }
}