@import url(https://fonts.googleapis.com/css2?family=Barlow:wght@600;700;800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap);

:root {
  font-family: 'Barlow', sans-serif;
  line-height: 1.5;
  font-weight: 700;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

a:hover {
  color: #45f882;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background-color: #0F161B;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.5em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-right: 0em;
  letter-spacing: 1.5px;
}

h3 {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

h4 {
  color: #fff;
  text-align: left;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 700;
  margin-block-start: 0em;
  margin-block-end: 0.5em;
}

h5 {
  color: #fff;
  font-size: 15px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

input {
  padding-block: 0px;
  padding-inline: 0px;
  height: 59.6px;
}

p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

button {
  height: 59.6px;
  border: none;
  font-weight: 800;
  font-size: 15px;
  font-family: 'Barlow', sans-serif;
  background-color: #45f882;
  -webkit-clip-path: polygon(100% 0, 100% 65%, 89% 100%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 100% 65%, 89% 100%, 0 100%, 0 0);
  transition: 0.5s background-color;
  color: #0f161b;
  letter-spacing: 1px;
}

button:hover {
  cursor: pointer;
}

::selection {
  background-color: #45f882;
  color: #0F161B;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #45f882;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 767px) {
  h2 {
    font-size: 2em;
  }
}